<!DOCTYPE HTML>
<html lang="pt-br">
<head>
	<title>Home</title>
	<meta charset="utf-8">
	<meta name="robots" content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/styles/home.css">
</head>

<body id="top">
	<header class="menu">
		<div class="menu-links">
			<ul>
				<li><a href="../views/home.html">Home</a></li>
				<li><a href="../views/registerProject.html">Cadastre seu Projeto</a></li>
			</ul>
		</div>
		<a href="/views/home.html" class="logo"> 
			<img src="../assets/images/home/logo.png" alt="Logo">
		</a>
		<div class="profile">
			<span class="username">Pedro</span>
			<img src="../assets/images/home/pedro.png" alt="Perfil" class="profile-img">
		</div>
	</header>
		
	<div class="banner">
		<img src="../assets/images/home/banner.png" alt="Descrição da imagem">
	</div>
	<main id="main">
		<div class="inner">
			<div class="thumbnails">

				<div class="box">
					<a href="../views/project.html" class="imagefit"><img src="../assets/images/home/box1.png" alt="" width="500" height="338"></a>
					<div class="inner">
						<h3>Nascetur nunc varius commodo</h3>
						<p>Interdum amet accumsan placerat commodo ut amet aliquam blandit nunc tempor lobortis nuncnon. Mi accumsan.</p>
						<a href="../views/project.html" class="button style1 fit">Saiba Mais</a>
					</div>
				</div>

				<div class="box">
					<a href="../views/project.html" class="imagefit"><img src="../assets/images/home/box2.png" alt="" width="500" height="338"></a>
					<div class="inner">
						<h3>Nascetur nunc varius commodo</h3>
						<p>Interdum amet accumsan placerat commodo ut amet aliquam blandit nunc tempor lobortis nunc
							non. Mi accumsan.</p>
						<a href="../views/project.html" class="button style2 fit">Saiba Mais</a>
					</div>
				</div>

				<div class="box">
					<a href="../views/project.html" class="imagefit"><img src="../assets/images/home/box3.png" alt="" width="500" height="338"></a>
					<div class="inner">
						<h3>Nascetur nunc varius commodo</h3>
						<p>Interdum amet accumsan placerat commodo ut amet aliquam blandit nunc tempor lobortis nunc
							non. Mi accumsan.</p>
						<a href="../views/project.html" class="button style3 fit">Saiba Mais</a>
					</div>
				</div>

				<div class="box">
					<a href="../views/project.html" class="imagefit"><img src="../assets/images/home/box4.png" alt="" width="500" height="338"></a>
					<div class="inner">
						<h3>Nascetur nunc varius commodo</h3>
						<p>Interdum amet accumsan placerat commodo ut amet aliquam blandit nunc tempor lobortis nunc
							non. Mi accumsan.</p>
						<a href="../views/project.html" class="button style2 fit">Saiba Mais</a>
					</div>
				</div>

				<div class="box">
					<a href="../views/project.html" class="imagefit"><img src="../assets/images/home/box5.png" alt="" width="500" height="338"></a>
					<div class="inner">
						<h3>Nascetur nunc varius commodo</h3>
						<p>Interdum amet accumsan placerat commodo ut amet aliquam blandit nunc tempor lobortis nunc
							non. Mi accumsan.</p>
						<a href="../views/project.html" class="button style3 fit">Saiba Mais</a>
					</div>
				</div>
	
			</div>

		</div>
	</main>
    
	<footer id="footer">
		<div class="innerFooter">
			<h2>Sobre o Projeto	</h2>
			<p>Nosso objetivo é tornar mais fácil para você encontrar oportunidades de voluntariado que se alinhem com seus interesses e habilidades. As organizações sem fins lucrativos podem publicar suas necessidades de voluntariado na nossa plataforma, e os voluntários podem descobrir projetos que lhes interessam.
			</p>
		</div>
	</footer>
</body>
</html>