<!DOCTYPE HTML>
<html lang="pt-br">
<head>
	<title>Projetinho Fellas</title>
	<meta charset="utf-8">
	<meta name="robots" content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/styles/home.css">
</head>

<body id="top">
	<header class="menu">
        <div class="menu-links">
            <ul>
                <li><a href="#">&#9776;</a></li>
                <li><a href="#">Home</a></li>
                <li><a href="#">Projetos</a></li>
            </ul>
        </div>
        <div class="profile">
            <img src="../assets/images/home/pedro.png" alt="Perfil" class="profile-img">
        </div>
    </header>

	
	<main id="main">
		<div class="inner">
			<img src="../assets/images/home/banner.png" alt="Descrição da imagem">
			<!-- Boxes -->
			<div class="thumbnails">

				<div class="box">
					<a href="https://youtu.be/s6zR2T9vn2c" class="imagefit"><img src="../assets/images/home/box 1.png" alt="" width="500" height="338"></a>
					<div class="inner">
						<h3>Nascetur nunc varius commodo</h3>
						<p>Interdum amet accumsan placerat commodo ut amet aliquam blandit nunc tempor lobortis nuncnon. Mi accumsan.</p>
						<a href="https://youtu.be/s6zR2T9vn2c" class="button style1 fit"
							data-poptrox="youtube,800x500">Watch</a>
					</div>
				</div>

				<div class="box">
					<a href="https://youtu.be/s6zR2T9vn2c" class="imagefit"><img src="../assets/images/home/box 2.png" alt="" width="500" height="338"></a>
					<div class="inner">
						<h3>Nascetur nunc varius commodo</h3>
						<p>Interdum amet accumsan placerat commodo ut amet aliquam blandit nunc tempor lobortis nunc
							non. Mi accumsan.</p>
						<a href="https://youtu.be/s6zR2T9vn2c" class="button style2 fit"
							data-poptrox="youtube,800x500">Watch</a>
					</div>
				</div>

				<div class="box">
					<a href="https://youtu.be/s6zR2T9vn2c" class="imagefit"><img src="../assets/images/home/box 3.png" alt="" width="500" height="338"></a>
					<div class="inner">
						<h3>Nascetur nunc varius commodo</h3>
						<p>Interdum amet accumsan placerat commodo ut amet aliquam blandit nunc tempor lobortis nunc
							non. Mi accumsan.</p>
						<a href="https://youtu.be/s6zR2T9vn2c" class="button style3 fit"
							data-poptrox="youtube,800x500">Watch</a>
					</div>
				</div>

				<div class="box">
					<a href="https://youtu.be/s6zR2T9vn2c" class="imagefit"><img src="../assets/images/home/box 4.png" alt="" width="500" height="338"></a>
					<div class="inner">
						<h3>Nascetur nunc varius commodo</h3>
						<p>Interdum amet accumsan placerat commodo ut amet aliquam blandit nunc tempor lobortis nunc
							non. Mi accumsan.</p>
						<a href="https://youtu.be/s6zR2T9vn2c" class="button style2 fit"
							data-poptrox="youtube,800x500">Watch</a>
					</div>
				</div>

				<div class="box">
					<a href="https://youtu.be/s6zR2T9vn2c" class="imagefit"><img src="../assets/images/home/box 5.png" alt="" width="500" height="338"></a>
					<div class="inner">
						<h3>Nascetur nunc varius commodo</h3>
						<p>Interdum amet accumsan placerat commodo ut amet aliquam blandit nunc tempor lobortis nunc
							non. Mi accumsan.</p>
						<a href="https://youtu.be/s6zR2T9vn2c" class="button style3 fit"
							data-poptrox="youtube,800x500">Watch</a>
					</div>
				</div>

				<div class="box">
					<a href="https://youtu.be/s6zR2T9vn2c" class="imagefit"><img src="../assets/images/home/box 6.png" alt="" width="500" height="338"></a>
					<div class="inner">
						<h3>Nascetur nunc varius commodo</h3>
						<p>Interdum amet accumsan placerat commodo ut amet aliquam blandit nunc tempor lobortis nunc
							non. Mi accumsan.</p>
						<a href="https://youtu.be/s6zR2T9vn2c" class="button fit"
							data-poptrox="youtube,800x500">Watch</a>
					</div>
				</div>		
			</div>

		</div>
	</main>
    
	<footer id="footer">
		<div class="inner">
			<h2>Etiam veroeros lorem</h2>
			<p>Pellentesque eleifend malesuada efficitur. Curabitur volutpat dui mi, ac imperdiet dolor tincidunt nec.
				Ut erat lectus, dictum sit amet lectus a, aliquet rutrum mauris. Etiam nec lectus hendrerit, consectetur
				risus viverra, iaculis orci. Phasellus eu nibh ut mi luctus auctor. Donec sit amet dolor in diam feugiat
				venenatis. 
			</p>
		</div>
	</footer>
</body>
</html>