<!DOCTYPE HTML>
<html lang="en">
	
<head>
	<title>Home</title>
	<meta charset="utf-8">
	<meta name="robots" content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="../styles/home.css">
</head>

<body id="top">
	<header class="menu">
		<div class="menu-links">
			<ul>
				<li><a href="../views/home.html">Home</a></li>
				<li><a href="../views/registerProject.html">Cadastre seu Projeto</a></li>
			</ul>
		</div>
		<a href="/views/home.html" class="logo"> 
			<img src="../assets/images/home/logo.png" alt="Logo">
		</a>
		<div class="admin-profile">
			<ul id="containerAdmin">
				<label id="adminAreaLabel" href="../views/admin.html">Área Adimin</label>
			</ul>
			<div class="profile">
				<span id="spanUsername"  class="username">Pedro</span>
				<img id="profileImage" src="../assets/images/home/pedro.png" alt="Perfil" class="profile-img">
			</div>
			<ul>
				<a href="../views/index.html">Sair</a>
			</ul>
		</div>
	</header>
		
	<div class="banner">
		<img src="../assets/images/home/banner.png" alt="Descrição da imagem">
	</div>
	<main id="main">
		<div class="inner">
			<div class="thumbnails" id="projectList">
			</div>
		</div>
	</main>
    
	<footer id="footer">
		<div class="innerFooter">
			<h2>Sobre o Projeto	</h2>
			<p>Nosso objetivo é tornar mais fácil para você encontrar oportunidades de voluntariado que se alinhem com seus interesses e habilidades. As organizações sem fins lucrativos podem publicar suas necessidades de voluntariado na nossa plataforma, e os voluntários podem descobrir projetos que lhes interessam.
			</p>
		</div>
	</footer>
	<script src="../scripts/home.js"></script>
</body>
</html>
