<!DOCTYPE html>
<html lang="en">
<head>
    <title>Projetinho Fellas</title>
    <meta charset="utf-8">
    <meta name="robots" content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/styles/project.css">
</head>

<body>
	<header class="menu">
		<div class="menu-links">
			<ul>
				<li><a href="../views/home.html">Home</a></li>
				<li><a href="#">Cadastre seu Projeto</a></li>
			</ul>
		</div>
		<a href="/views/home.html" class="logo"> 
			<img src="../assets/images/home/logo.png" alt="Logo">
		</a>
		<div class="profile">
			<span class="username">Pedro</span>
			<img src="../assets/images/home/pedro.png" alt="Perfil" class="profile-img">
		</div>
	</header>
    <main>
        <div class="content">
            <img src="../assets/images/home/project.png" alt="Main Image" class="main-image">
            <div class="text-content">
                <h1>Lares Solidários: Construindo Esperança, Transformando Vida</h1>
                <h2>Habitat for Humanity: Unindo Comunidades para um Futuro Mais Promissor</h2>
                <p>Uma organização internacional que mobiliza voluntários e recursos para construir moradias acessíveis em parceria com famílias de baixa renda. O projeto não apenas constrói casas, mas também capacita as famílias beneficiadas, promovendo a estabilidade habitacional e o fortalecimento das comunidades.</p>
                <button>Participe</button>
            </div>
        </div>
    </main>    
    
	<footer id="footer">
		<div class="innerFooter">
			<h2>Etiam veroeros lorem</h2>
			<p>Pellentesque eleifend malesuada efficitur. Curabitur volutpat dui mi, ac imperdiet dolor tincidunt nec.
				Ut erat lectus, dictum sit amet lectus a, aliquet rutrum mauris. Etiam nec lectus hendrerit, consectetur
				risus viverra, iaculis orci. Phasellus eu nibh ut mi luctus auctor. Donec sit amet dolor in diam feugiat
				venenatis. 
			</p>
		</div>
	</footer>
</body>
</html>
