<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Register Project</title>
        <link rel="stylesheet" href="../styles/registerProject.css">
    </head>
    <body>

        <header class="menu">
            <div class="menu-links">
                <ul>
                    <li><a href="../views/home.html">Home</a></li>
                </ul>
            </div>
            <a href="../views/home.html" class="logo"> 
                <img src="../assets/images/cadProject/logo.png" alt="Logo">
            </a>
            <div class="profile">
                <span class="username">Pedro Pedro</span>
                <img src="../assets/images/cadProject/pedro.png" alt="Perfil" class="profile-img">
            </div>
        </header>

        <div class="container">
            <h1>Cadastro de Projeto para Voluntariados</h1>
            <form id="projectForm" action="home.html" enctype="multipart/form-data">
                <div class="input-container">
                    <label for="name">Nome do Projeto:</label>
                    <input type="text" id="name" name="name" required>
                </div>
        
                <div class="input-container">
                    <label for="responsible">Responsável:</label>
                    <input type="text" id="responsible" name="responsible" required>
                </div>
        
                <div class="input-container">
                    <label for="email">E-mail de Contato:</label>
                    <input type="email" id="email" name="email" required>
                </div>
        
                <div class="input-container">
                    <label for="phone">Telefone de Contato:</label>
                    <input type="tel" id="phone" name="phone" required>
                </div>
        
                <div class="input-container">
                    <label for="localization">Localização do Projeto:</label>
                    <input type="text" id="localization" name="localization" required>
                </div>

                <div class="input-container">
                    <label for="description">Descrição:</label>
                    <textarea id="description" name="description" rows="5" required></textarea>
                </div>
        
                <div class="input-container">
                    <label for="uploadImg">Upload de Imagens:</label>
                    <input type="file" id="uploadImg" name="uploadImg" accept="image/*" multiple>
                </div>

                <input type="submit" value="Cadastrar">
            </form>
        </div>
        <script src="../scripts/registerProject.js"></script>
    </body>
</html>