<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Selecionar Foto</title>
    <link rel="stylesheet" href="../styles/teste.css">
</head>
<body>
    <div class="container">
        <h2>Selecionar Foto</h2>
        <div class="circle-container">
            <label for="fileInput" class="circle teste2">
                <span>+</span>
                <input type="file" id="fileInput" style="display: none;">
            </label>
            <p class="photo-text">Foto</p>
        </div>
    </div>
    <script src="script.js"></script>
</body>
</html>

<!-- ../styles/teste.css -->